.content {
    display: flex;
    position: relative;
    min-height: 100vh;
}

.content_left {
    background-image: url('../images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 60%;
    display: flex;
    justify-content: center;
}

.content_left .content_left_detail {
    max-width: 450px;
    width: 100%;
}

.content_left .content_left_logo {
    padding: 60px 0;
}

.content_left .content_left_photo {
    display: none;
}

.content_left .content_detail_title {
    font-size: 70px;
    color: hsl(0, 6%, 24%);
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-top: 90px;
}

.content_left .content_detail_titleColor {
    font-family: 'JosefinSansLight';
    letter-spacing: 10px;
}

.content_left .content_detail_title span {
    font-size: 50px;
    font-weight: normal;
    color: hsl(0, 36%, 70%);
    font-weight: 100;
}

.content_left .content_detail_paragraph {
    color: hsl(0, 36%, 70%);
    line-height: 25px;
    margin: 20px 0;
}

.content_left .content_detail_form {
    position: relative;
    width: 100%;
}

.content_left .content_detail_form.invalid input{
    border: 1px solid hsl(0, 93%, 68%);
}

.content_left .content_detail_form .content_detail_error {
    display: none;
    position: absolute;
    top: 15px;
    right: 6em;
    z-index: 3;
}

.content_left .content_detail_form.invalid .content_detail_error {
    display: block;
}

.content_left #content_detail_result {
    font-weight: normal;
    color: hsl(0, 93%, 68%);
    margin-bottom: 50px;
    margin-top: 10px;
    margin-left: 25px;
}

.content_left .content_detail_form input {
    background-color: transparent;
    border: 1px solid hsl(0, 80%, 86%);
    padding: 20px 25px;
    border-radius: 30px;
    width: 100%;
}

.content_left .content_detail_form input::placeholder {
    color: hsl(0, 80%, 86%);
    font-size: 15px;
}

.content_left .content_detail_form button {
    position: absolute;
    right: 0;
    background: linear-gradient(136deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0px 12px 27px 1px rgba(87, 54, 54, 0.3);
    border-radius: 30px;
    cursor: pointer;
    width: 90px;
    height: 100%;
}

.content_left .content_detail_form button:hover {
    background: linear-gradient(136deg, hsl(0, 80%, 90%), hsl(0, 74%, 83%));
}

.content_right_photo {
    background-image: url('../images/hero-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
}


@media only screen and (max-width: 800px) {
    .content_left {
        width: 100%;
    }

    .content_left .content_left_detail {
        max-width: 100%;
    }

    .content_left .content_left_logo {
        padding: 20px;
    }

    .content_left .content_left_detail_align {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
    }

    .content_left .content_left_photo {
        display: block;
        width: 100%;
    }

    .content_left .content_detail_title {
        text-align: center;
    }
    
    .content_right_photo {
        display: none;
    }
}
